<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="wp80" />
  <package id="Crittercism" version="2.0.0" targetFramework="wp80" />
  <package id="Helpers.FeedbackHelperWP" version="1.0.2" targetFramework="wp80" />
  <package id="MarkedUp" version="1.3.5" targetFramework="wp80" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="wp80" />
  <package id="MvvmLightLibs" version="4.3.31.1" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="wp80" />
  <package id="RestSharp" version="104.4.0" targetFramework="wp80" />
  <package id="SlickThoughtTrialManager" version="1.0.0" targetFramework="wp80" />
  <package id="Sparrow.Chart.WP8" version="13.1.0.113" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>