<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkedUp" version="1.0.7" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="wp80" />
  <package id="RestSharp" version="104.1" targetFramework="wp80" />
  <package id="SlickThoughtTrialManager" version="1.0.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.06.11" targetFramework="wp80" />
</packages>